/* Insert any additional CSS you need here */
body {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 81.25%;
	margin: 0;
	min-width: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #f2f2f2;
}

